body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D3D1DB;
}

.login-container {
    background-color: white;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-container:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #4A00E0;
}

.login-container input[type="text"], .login-container input[type="password"],.login-container input[type="email"] {
    width: calc(100% - 20px);
    padding: 12px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.login-container input[type="text"]:focus, .login-container input[type="password"]:focus,.login-container input[type="email"]:focus {
    border-color: #4A00E0;
    box-shadow: 0 0 8px rgba(74, 0, 224, 0.2);
    outline: none;
}

.login-container a {
    display: block;
    margin: 10px 0;
    color: #666;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.login-container a:hover {
    color: #4A00E0;
}

.login-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4A00E0;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.login-container button:hover {
    background-color: #3700b3;
    box-shadow: 0 4px 15px rgba(55, 0, 179, 0.3);
}

.login-container span {
    color: #4A00E0;
    font-weight: bold;
}

